
		header, section {
			display: block;
		}
		body {
			font-family: 'Droid Serif';
		}
		h1, h2 {
			text-align: center;
			font-weight: normal;
		}
		
		.connected, .sortable {
			margin: auto;
			padding: 0;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
		.sortable.grid {
			overflow: hidden;
		}
		
		.handles span {
			cursor: move;
		}
		li.disabled {
			opacity: 0.5;
		}
		.sortable.grid li {
			line-height: 80px;
			float: left;
			text-align: center;
		}
		li.highlight {
			background: #FEE25F;
		}
		
		li.sortable-placeholder {
			border: 1px dashed #CCC;
			background: none;
		}
	/* CSS Document */

